<div class="jumbotron full-page text-center">

  <h2>Holly cannoly!</h2>
  <p>&nbsp;</p>
  <p>
    A <b>404</b> not-found happening!
    <br> Let's celebrate, by Jove... or go to the <a class="text-link" (click) = "goBack()">previous page</a>.
  </p>

</div>