<div class="jumbotron full-page text-center">
    <h1>Angular 2 HTTP and Observables</h1>

    <h2>We'll explore Angular 2 to create a CRUD style <i>app</i>, connecting to a real RESTful API.</h2>

    <div class="well text-left">

      <p>This trial code will handle live GET, POST, PUT, and DELETE requests, using NG2 <b>Observables</b> to create data streams over time - even powerful than the old JS native <i>Promises</i></p>
      <p>Along with HTTP calls, we'll certainly use much of what is common on any <i>app</i>/website - routing, styling, modularity, etc.</p>

      <p>&nbsp;</p>

      <p>This is the great, free and universal live RESTful API address we'll use, excellent for testing AJAX requests:
        <a class="text-link" href = "https://reqres.in/api/" target="_blank">https://reqres.in/api/</a>
      </p>

    </div>

</div>