.user-name{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
    text-transform: capitalize;
	font-size: 50px;
	margin-top: 40px;
}

.user-name + img.img-responsive{
	margin: 30px auto;
}

.user-name + img.large-photo{
	width: 200px;
    border: 10px double #2a3035;
    box-shadow: 21px 7px 100px -39px;
    margin: 80px auto;
}

.user-name + img.img-responsive + small{
	font-family: monospace;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.jumbotron .close-user{
	position: absolute;
	float: right;
    top: 0px; right: 0;
    margin-right: 10px;
    font-size: 36px;

	color: white;
	opacity: 0.4;
}
.jumbotron .close-user:hover{
	opacity: 1;
	transition: opacity 0.6s ease-in;
}