<!--
    Input: receives the boolean 'isLoading' (from user-single.component.ts)
    and inputs it to loading.component.ts, through this selector ('loading-container') on var 'callStatus'
-->
<loading-container [callStatus]="isLoading"></loading-container>

<div class="jumbotron full-page text-center" *ngIf="user">

    <div class="close-user text-link"><i class="fa fa-window-close" aria-hidden="true"></i></div>
    
    <h2 class="user-name">{{ user.name }}</h2>
    <img [src]="user.img" class="img-responsive img-circle large-photo text-center">
    <small>{{ user.userName }}</small>

</div>