<header>

  <div class="container">

    <div class="navbar navbar-default navbar-custom">
      <div class="container-fluid">

        <div class="navbar-header">
          <h3 class="navbar-brand">Company<span>logo</span></h3>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/"><i class="fa fa-home fa-2x"></i><span class="show-mobile">Home</span></a></li>
          <li><a routerLink="/users"><i class="fa fa-user fa-2x"></i><span class="show-mobile">Users</span></a></li>
          <li><a routerLink="/about"><i class="fa fa-bookmark fa-2x"></i><span class="show-mobile">About</span></a></li>
        </ul>

      </div>
    </div>

  </div>

</header>

<main>
  <div class="container">

    <router-outlet></router-outlet>

  </div>
</main>

<footer>
  <div class="container">

    <div class="jumbotron footer-distributed">
      
			<div class="footer-left">

				<h3>Company<span>logo</span></h3>

				<p class="footer-links">
					<a routerLink="/" (click)="footerLinks_aClick('home')">Home</a>
					·
					<a routerLink="/users" (click)="footerLinks_aClick('users')">Users</a>
					·
					<a routerLink="/about" (click)="footerLinks_aClick('about')">About</a>
					·
					<a routerLink="/#$%_%$%-!" (click)="footerLinks_aClick('no-page-404')">404 no page</a>
				</p>

				<p class="footer-company-name">Company Name &copy; {{ thisYear}}</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>2, Angular Street</span> Berlin, Germany</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456 333</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

    </div>
  
  </div>
</footer>