/***************************************************/
/* == GENERIC styling == */
/***************************************************/

header{margin-top: 20px;}


/***************************************************/
/* == NAV BAR == */
/***************************************************/
.navbar.navbar-custom{
	background-color: transparent;
	border-bottom: 1px solid #c4473a; /*#375a7f;*/
}

.navbar .navbar-brand{margin-top: -3px;}
.navbar .navbar-brand:hover{color: inherit}

.navbar-default .navbar-nav>li>a{transition: color 0.4s ease-in;}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{transition: color 0.6s ease-out;}

.navbar i.fa.fa-2x{font-size: 37px;}
.navbar .fa-user:before{margin-left: 7px;}

.navbar .show-mobile{
    display: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
}


/***************************************************/
/* == FOOTER == */
/***************************************************/

.footer-distributed{
	/*background-color: #292c2f;*/
    background-color: #2a3035;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	/*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

/* The company logo */

.footer-distributed h3,
.navbar-brand{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span,
.navbar-brand span{
	/*color:  #5383d3;*/
    color: #00bc8c;

}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
    /*Reset BS jumbotron:*/
    font-size: inherit;
    font-weight: inherit;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    text-transform: uppercase;

	transform: color 0.4s ease-in;
}
.footer-distributed .footer-links a:hover,
.footer-distributed .footer-links a:focus{
    color: #00bc8c;
    background-color: transparent;

	transition: color 0.6s ease-out;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 40%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
    /*Reset BS jumbotron:*/
    font-size: inherit;
    font-weight: inherit;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/***************************************************/
/* == @media queries == */
/***************************************************/


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width: 767px) {
    .navbar .show-mobile{
        display: inline-block;
    }
}
