.user-name{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
    text-transform: capitalize;
}

.user-card{
	margin-bottom: 100px;
	outline: 0;
}

.user-card .img-responsive{
	margin: 20px auto;
	cursor: pointer;
}

.user-card > small{
	font-family: monospace;
    font-size: 20px;
    letter-spacing: 6px;
	text-transform: uppercase;
}

/***************************************************/
/* == @media queries == */
/***************************************************/

@media (max-width: 768px){
    .user-card > small{
        display: none;
    }
}