<!--
    Input: receives the boolean 'isLoading' (from user-list-component.ts)
    and inputs it to loading.component.ts, through this selector ('loading-container') on var 'callStatus'
-->
<loading-container [callStatus]="isLoading"></loading-container>

<!-- The board with the received users, if any: -->
<div class="jumbotron full-page text-center" *ngIf="users">

    <div class="container">
        <div class="col-sm-4" *ngFor="let user of users">

            <div class="user-card" [routerLink] = "['/users', user.id]">
                <div class="user-name">{{ user.name }}</div>
                <img [src]="user.img" class="img-responsive img-circle">
                <small>{{ user.userName }}</small>
            </div>
            
        </div>
    </div>

</div>