/* You can add global styles to this file, and also import other style files */

/***************************************************/
/* == GENERIC styling == */
/***************************************************/

.text-link{
	color: #5383d3;
    text-decoration: none;
    transition: color 0.4s ease-in;
}
.text-link:hover,
.text-link:focus{
    color: #00bc8c !important;
	cursor: pointer;
	text-decoration: none;
    outline: none;
    transition: color 0.6s ease-out;
}

.jumbotron{position: relative; /* So we can have 'absolute' elements inside... */}
.jumbotron.full-page{
    min-height: 650px;
}

.well{margin: 40px 0;}


/***************************************************/
/* == @media queries == */
/***************************************************/

@media (min-width: 768px) and (max-width: 991px){
    .container {
        width: 95%;
    }
}