<div class="jumbotron full-page text-center">

  <h1>{{ homeHeader}}</h1>

  <div class="ng2-img-container text-center">
    <img src="assets/angular2.png" class="img-responsive">
  </div>

  <h2 class="text-center">{{ homeFooter }}</h2>

  <p>&nbsp;</p>
  <h5>New features/components will be added along with my learning.<br><small>Please keep comming back for testing new NG2 features!</small></h5>

</div>